VITE_FIREBASE_API_KEY="AIzaSyDao8ocv_42bU4-jMAbd_q445Co9nLcOho"
VITE_FIREBASE_AUTH_DOMAIN="bangtan-love-space.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="bangtan-love-space"
VITE_FIREBASE_STORAGE_BUCKET="bangtan-love-space.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="965693355311"
VITE_FIREBASE_APP_ID="1:965693355311:web:458351ac5695a68b939dda"
VITE_QUEEN_PASSWORD="jungkook"
VITE_QUEEN_EMAIL="jorgelopz532@gmail.com"